.shape-container {
    width: 100%;
    min-height: 92vh;
    background-color: var(--bg-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shape-canvas {
    width: 80%;
    height: min-content;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
    background-color: white;
}

.shape-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shape-header .title {
    font-size: 1.3rem;
    font-weight: 600;
    color: grey;
}

hr {
    background-color: var(--primary-color) !important;
}

.shape-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.shape-body .shape-item {
    position: relative;
    height: 12vw;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    padding-top: 2.5rem;
    box-shadow: 0px 0px 5px grey;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2%;
    row-gap: 3%;
}

.shape-body .shape-item .title{
    position: absolute;
    top: 0.5rem;
    left: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: grey;
}

.shape-body .shape-item .btn-delete{
    position: absolute;
    top: 0.5rem;
    right: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: tomato;
    cursor: pointer;
}

.shape-body .shape-item .btn-delete:hover{
    color: #d64c34;
}

.piece {
    width: 100%;
    background-color: #b6b6b6;
    border-radius: 3px;
}

.piece.selected {
    width: 100%;
    background-color: #135c97;
    border-color: #104e81;
    border-radius: 3px;
}