<div class="profile-container">
    <div class="photo-profile">
        <div class="photo-container">
            <img src="https://www.pngitem.com/pimgs/m/80-800194_transparent-users-icon-png-flat-user-icon-png.png" alt="Foto del usuario">
        </div>
        Foto de perfil
    </div>
    
    
    <div class="info-profile">
        <div class="info-title">
            Información Personal
        </div>
        <hr>
        <div class="info-item">
            <span class="title">Nombre</span>
            <span class="value">{{ 'juan' | titlecase }}</span>
        </div>
        <div class="info-item">
            <span class="title">Apellidos</span>
            <span class="value">{{ 'montoya giraldo' | titlecase }}</span>
        </div>
        <div class="info-item">
            <span class="title">Nombre de usuario</span>
            <span class="value">juan864</span>
        </div>
        <div class="info-item">
            <span class="title">Rol</span>
            <span class="value">{{ 'Administrador' | titlecase}}</span>
        </div>
        <div class="info-item">
            <span class="title">Fecha de creación</span>
            <span class="value">6 Mayo 2021</span>
        </div>
    </div>
</div>